<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head') %>

<body>

    <%- include('partials/header') %>

        <img src="/images/img-home-banner.jpg" alt="Banner Mercado Liebre" width="100%" class="banner">
        <main>
            <h3><strong>Basado en tu última visita</strong></h3>
            <section>
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
            </section>
            <h3><strong>Ofertas</strong></h3>
            <section>
                <% products.forEach(product => { %>
                    <%- include('partials/product', { product }) %>
                <% })%>
            </section>
        </main>
        <%- include('partials/footer') %>
</body>

</html>